::-webkit-scrollbar{
    display: none;
}

body{
    margin: 0;
}

header{
    height: 400px;
    background-image: url('./header.jpg');
    background-size: cover;
    background-position-y: 25%;
    background-repeat: no-repeat;
}

header > div{
    background:  rgba(255,255,255,0.8);
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

header > div > #logo > img {
    margin: 5px 0px 5px 80px;
    width: 100%; 
    max-width: 370px; 
}

header > div > #noti > img {
    width: 60px; 
    margin-right: 12px; 
}

header > div > div {
    display: flex;
    align-items: center; 
}

header > div > #noti > span {
    color: black;
    font-weight: bold;
    font-size: 26px; 
    padding: 0 40px;
}

#stripe{
    background-color: #77142B;
    color: #77142B;
    font-size: 16px;
    padding: 10px 0;
    font-weight: 400;
}

main {

    background-color: #77142B;
    display: flex;
    justify-content: space-between;
    margin: 30px 100px 10px 100px;
    padding: 40px 0;
}

form {
    display: flex;
    width: 100%;
}

#left {
    width: 30%;
    text-align: center;
    float: left; 
}

img {
    width: 80%;
    margin-bottom: 15px;
}

input[type="file"]::-webkit-file-upload-button{
    width: calc(80% - 12px);
    padding: 10px;
    margin-bottom: 15px;
    background-color: blue;
    color: white;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#right {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    float: left;
  }
  
.form-row {
    width: 25%;
    padding: 0 20px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#right > .form-row:nth-child(7) {
    width: 100%;
}

#right > .form-row:nth-child(8) {
    width: 100%;
}

.form-row input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.form-row span{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
}
  
.form-row label {
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
}

.form-row button{
    width: 100%;
    margin-top: 24px;
    padding: 10px;
    margin-bottom: 10px;
}

button{
    color: white;
}

#right > .form-row:nth-child(10) > button {
    background-color: red;
}

#right > .form-row:nth-child(11) > button {
    background-color: green;
}
.children-container {
    display: flex;
    overflow-x: auto;
}

.child-1 {
    width: 25%;
    background-color: #77142B;
    margin-right: 10px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.child-2 {
    width: 25%;
    background-color: #4a4a4a;
    margin-right: 10px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.child-1 > img,.child-2 > img{
    width: 60px;
    border-radius: 30px;
    margin: 10px;
}

.child-1 > p, .child-2 > p{
    text-align: center;
}

.stripe-1{
    background-color: #77142B;
    color: white;
    font-size: 16px;
    padding: 10px 0;
    font-weight: 400;
}

.stripe-2{
    background-color: rgb(79, 79, 79);
    color: white;
    font-size: 16px;
    padding: 10px 0;
    font-weight: 400;
}

.relatives{
    width: 80%;
    padding: 20px;
}

.relative{
    margin: 20px;
    width: 70%;
    background-color: #77142B;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

